.button {
    background-color: var(--black-color);
    color: var(--primary-color);
    border: 1px;
    border-radius: 5px;
    padding: 10px, 16px, 10px, 16px;
    width: 170px;
    height: 47px;
    gap: 10px;
    font-family: poppins;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.25px;
  }
  